<div class="admin-dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
      <li routerLink="/admin-dashboard" routerLinkActive="active">Dashboard</li>
      <li routerLink="/admin-dashboard/inventory" routerLinkActive="active">Inventory</li>
      <li routerLink="/admin-dashboard/orders" routerLinkActive="active">Orders</li>
      <li routerLink="/admin-dashboard/customers" routerLinkActive="active">Customers</li>
      <li routerLink="/admin-dashboard/reports" routerLinkActive="active">Reports</li>
      <li routerLink="/admin-dashboard/suppliers" routerLinkActive="active">Suppliers</li>
      <li routerLink="/admin-dashboard/warehouse-zones" routerLinkActive="active">Warehouse Zones</li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
