<div class="login-container bgimage">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          class="form-control"
        />
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>

    <p class="register-link">
      Don't have an account?
      <a (click)="goToRegister()" class="text-primary" style="cursor: pointer; text-decoration: underline;">Register here</a>

    </p>
  </div>
</div>
